{{ define "layout" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>GNParser</title>
  <meta content='width=device-width,initial-scale=1' name='viewport'>
  <link href='/styles/screen.css' rel='stylesheet'>
  <link href='/styles/parser.css' rel='stylesheet'>
  <link href='/images/favicon.ico' rel='icon' type='image/x-icon'>
</head>

<body class='wrap'>
  <header role='banner'>
    <nav class='mobile-nav show-on-mobiles'>
      <ul>
        {{ if .HomePage }} <li class='current'> {{ else }} <li> {{ end }}
          <a href='/'>Parser</a>
        </li>
        {{ if .HomePage }} <li> {{ else }} <li class='current'> {{ end }}
          <a href='/doc/api'>API</a>
        </li>
        <li>
          <a href='https://gitlab.com/gogna/gnparser/blob/master/README.md'><span class='hide-on-mobiles'>Doc on</span>
            GitLab</a>
        </li>
        <li>
          <a href='http://globalnames.org/apps'>Projects</a>
        </li>
      </ul>
    </nav>
    <div class='grid'>
      <div class='unit one-quarter center-on-mobiles'>
        <div class='logo'>
          <a href='/doc/api'>
            <span class='sr-only'>GlobalNames</span>
            <img alt='GNA Logo' src='/images/gna.svg' width='72'>
          </a>
        </div>
      </div>
      <nav class='main-nav unit three-quarters hide-on-mobiles'>
        <ul>
          {{ if .HomePage }} <li class='current'> {{ else }} <li> {{ end }}
            <a href='/'>Parser</a>
          </li>
          {{ if .HomePage }} <li> {{ else }} <li class='current'> {{ end }}
            <a href='/doc/api'>API</a>
          </li>
          <li>
            <a href='https://gitlab.com/gogna/gnparser/blob/master/README.md'><span class='hide-on-mobiles'>Doc on</span>
              GitLab</a>
          </li>
          <li>
            <a href='http://globalnames.org/apps'>Projects</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class='intro'>
    <div class='grid'>
      <div class='unit whole center-on-mobiles'>
        <h1>Global Names Parser <span style="color:#aaa">({{ .Version }})</span></h1>
        <h4>Scientific Names in Detail</h4>
      </div>
    </div>
  </section>
  {{ template "content" . }}

  <section class='footer'>
    <div class='grid'>
      <div class='unit whole center-on-mobiles'>
This is a newer <em>gnparser</em> implementation
<a href="https://gitlab.com/gogna/gnparser">written in Go</a>.
To access <a href="https://github.com/GlobalNamesArchitecture/gnparser">
<em>gnparser</em> written in Scala</a> try this
<a href="http://scala.parser.globalnames.org">web-service</a>.
      </div>
    </div>
  </section>
</body>

</html>
{{ end }}